//
//  API_Keys.xcconfig
//  Movie_Combine_MVVM
//
//  Created by 이승준 on 12/17/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

MOVIE_API_KEY = dbaa00196d9fc5ea7420000234c5ded3
